src/main/java/proxy/BanqueWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:9191/?xsd=1"/>
</xsd:schema>
</types>
<message name="Convert">
<part name="parameters" element="tns:Convert"/>
</message>
<message name="ConvertResponse">
<part name="parameters" element="tns:ConvertResponse"/>
</message>
<message name="listeCompte">
<part name="parameters" element="tns:listeCompte"/>
</message>
<message name="listeCompteResponse">
<part name="parameters" element="tns:listeCompteResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<portType name="BanqueService">
<operation name="Convert">
<input wsam:Action="http://WS/BanqueService/ConvertRequest" message="tns:Convert"/>
<output wsam:Action="http://WS/BanqueService/ConvertResponse" message="tns:ConvertResponse"/>
</operation>
<operation name="listeCompte">
<input wsam:Action="http://WS/BanqueService/listeCompteRequest" message="tns:listeCompte"/>
<output wsam:Action="http://WS/BanqueService/listeCompteResponse" message="tns:listeCompteResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://WS/BanqueService/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://WS/BanqueService/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Convert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listeCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:9191/"/>
</port>
</service>
</definitions>